[project]
	description = Pagina Web DotiU
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dotiucr (DotiU)
[access "refs/for/refs/*"]
	read = group user/dotiucr (DotiU)
	push = group user/dotiucr (DotiU)
	label-Code-Review = -2..+2 group user/dotiucr (DotiU)
	label-Verified = -1..+1 group user/dotiucr (DotiU)
	rebase = group user/dotiucr (DotiU)
	removeReviewer = group user/dotiucr (DotiU)
	submit = group user/dotiucr (DotiU)
[access "refs/heads/*"]
	read = group user/dotiucr (DotiU)
	create = group user/dotiucr (DotiU)
	push = +force group user/dotiucr (DotiU)
	pushMerge = group user/dotiucr (DotiU)
[access "refs/tags/*"]
	push = group user/dotiucr (DotiU)
	push = +force group user/dotiucr (DotiU)
