#footerp{
  font-size: 90%;
}
footer {
  background-color: #525252;
  text-align: center;

  margin-bottom: 10;
  width: 100%;
  position:relative;
    bottom: 0 !important;

   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;




}


footer .redes li {
  display: inline-grid;
    margin: 2%;
}
footer .redes li {
  list-style: none;
}
pre{
  background-color: #fff;
  border-style: none;
  font-family: "Source Sans Pro";
  font-size: 15px;
}
footer .redes a {
  color: #33cbbe;
}

footer p,
footer a,
footer h3 {
  color: #fff;
}

footer p {
  text-align: justify;
}
#navegacion{
  margin-left: 19%;
  margin-top: -2%;
}

.fa-user-circle{
  color: #33cbbe;
}
.logo-1{
  margin-bottom: 3%;
}
